extend-exclude = [
    ".numba_cache",
    ".venv",
    "dist-conda",
]
extend-include = [
    "*.ipynb",
]
fix = true
# unsafe-fixes = true

[format]
docstring-code-format = true

[lint]
preview = true
select = [
    "ALL",
]
# fixable/unfixable
# fixable = ["ALL"]
unfixable = [
    "ERA",
    "PLR6104",
    "T",
]
# ignores
ignore = [
    "ANN401",  # - Any ok sometimes
    "COM",     # - flake8-commas, formatter should take care of this?
    "CPY",     # - Don't require copyright
    "D105",    # - Missing magic method docstring
    "D107",    # - Missing docstring in __init__
    "D203",    # - 1 blank line required before class docstring
    "D205",    # - blank line after summary
    "D212",    # - Multi-line docstring summary should start at the first line
    "D400",    # - First line should end with a period
    "D401",    # - First line of docstring should be in imperative mood: "{first_line}"
    "DOC201",  # - Missing return from documentation
    "DOC501",  # - Missing raises from documentation
    "E501",    # - line too long - let formatter fix this
    "E731",    # - do not assign a lambda expression, use a def
    "FBT",     # - bools are ok
    "PLC0415", # - import should be at top level (leads to issues with imports in func?)
    "S404",    # - Want to use subprocess sometimes
    "S603",    # - subprocess-without-shell-equals-true
    "S607",    # - start-process-with-partial-path
    "TID252",  # - Allow relative imports
]

[lint.isort]
known-first-party = [
    "analphipy",
]

[lint.pydocstyle]
convention = "numpy"

[lint.pylint]
max-args = 15
max-positional-args = 15
max-public-methods = 30

[lint.ruff]
strictly-empty-init-modules = false

[lint.per-file-ignores]
"**/*.ipynb" = [
    "B018",
    "D100",
    "INP001",
]
"docs/conf.py" = [
    "ERA",
    "INP001",
]
"noxfile.py" = [
    "RUF009",
]
"tests/*.py" = [
    "D",
    "S101",
]
"tools/*.py" = [
    "A",
    "D102",
    "DOC402",
    "S",
    "SLF001",
]

# Project specific ignores (avoid changing per-file-ignores directly)
[lint.extend-per-file-ignores]
# "path/to/file.py" = [ ... ]
"**/*.ipynb" = [
    "ANN001",
    "ANN201",
    "D103",
    "E302",
    "E402",
]
"src/**/base_potential.py" = [
    "ARG002",
    "DOC202",
    "PLR6301",
]
"src/**/norofrenkel.py" = [
    "N802",
    "N803",
    "N806",
]
"src/**/potential.py" = [
    "D102",
]
"tests/*.py" = [
    "ANN",
    "N802",
    "N806",
    "PT011",
]
